* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    background-color: #5c0000;
    font-family: Arial, Helvetica, sans-serif;
    background-size: 110vw;
    color: white;
    font-size: 15px;
}

::-webkit-scrollbar {
    width: 12px; /* Largura da barra de rolagem */
}

/* Estilizando o traço (trilho) da barra de rolagem */
::-webkit-scrollbar-track {
    background-color: #444444; 
}

/* Estilizando o polegar da barra de rolagem */
::-webkit-scrollbar-thumb {
    background-color: #bebebe; 
    border-radius: 5px; 
}

#cabecalho {
    background-color: rgb(44, 0, 0);
    width: 100%;
    height: 5vw; /* Altura do cabeçalho */
    position: fixed; /* Mantém o cabeçalho fixo */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1; /* Garante que o cabeçalho esteja acima do conteúdo */
}

#opcoes {
    display: inline-flex;
    margin-left: 35vw; 
    align-content: center;
}

.opcoes_cabeca {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-size: 18px;
    color: #FFFFFF;
    margin-top: 2.8vw; 
    margin-right: 3vw;
   
}

.opcoes_cabeca:hover {
    cursor: pointer;
    text-decoration: underline;
}

.titulo {
    width: auto;
    font-size: 70px;
    padding-left: 7vw;
    margin-bottom: 5vh;
}

main {
    margin-top: 5vw; /* Adiciona espaço para o conteúdo começar abaixo do cabeçalho */
}

#capa {
    margin-bottom: 17vh; /* Mantém o espaço abaixo do conteúdo */
    padding-top: 6.5vh; /* Ajuste para posicionar o conteúdo */
    height: 100vmin;
    display: inline-flex;
}

#titulos {
    width: auto;
    height: auto;
    position: absolute;
    padding: 2vmin 0 0 6vw;
    font-size: 1vmin;
    color: white;
    overflow-y: hidden;
    overflow-x: hidden;
    z-index: 1;
}

#titulos h2 {
    width: 700px;
    font-size: 130px;
    overflow-y: hidden;
    margin-top: 7vw;
    padding-left: 2vw;
    margin-bottom: 1vw;
}

#titulos h3 {
    font-size: 3vmin;
    padding-left: 4vw;
}

#titulos p {
    width: 35vw;
    font-size: 2.5vmin;
    padding-left: 5vw;
}


.sobre_msv {
    margin-top: 3vw;
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    row-gap: 18px; 
    column-gap: 17px; 
    justify-items: center; 
}

.msv {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    max-width: 100%; 
}

.txt_msv {
    margin-top: 1vw;
    font-size: 2.5vmin; 
    color: #FFFFFF; 
    text-align: center;
    max-width: 70%; 
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 8px; 
}








#capa img {
    width: 110vmin;
    height: 150vmin;
    margin-left: 45vw;
    position: absolute;
    margin-bottom: 14vw;
}

.descricao {
    margin-top: 1vw;
    width: 40vw;
    font-size: 18px;
    color: #FFFFFF;
    text-align: justify;
}

#trailer {
    text-align: center;
    margin-top: 3.3vw;
    margin-bottom: 3.3vw;
}

#jogo {
    display: flex; 
    justify-content: space-between; 
    align-items: flex-start; 
    margin: 20px; 
}

#titulos {
    flex: 1; 
    padding-right: 20px; 
}

#trailer {
    flex: 1; 
}

iframe {
    width: 40%; 
    height: 340px; 
    margin-left: 40vw;
    margin-top: 10vw;
    align-content: center;
    border-radius: 20px;
}

.programas {
    display: flex; 
    justify-content: center; 
    margin-top: 10px; 
}

.img_programa {
    width: 50px; 
    height: auto; 
    margin: 0 10px; 
}

#botao{
    display: flex;
    justify-content: space-evenly;
    margin-top: 1vw;
    margin-right: 20vw;
}

#botao1 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 28vw;
    margin-left: 10vw;
}

#botao button, #botao1 button {
    width: 15vmin;
    height: 6vh;
    margin: 0 0.5vw;
    background-color: white; 
    border: none; 
    border-radius: 30px; 
    font-size: 16px;
    color: black; 
    cursor: pointer; 
    transition: background 0.3s, color 0.3s, transform 0.2s; 
}

#botao button:hover, #botao1 button:hover {
    background-color: black; /* Fundo preto ao passar o mouse */
    color: white; /* Texto em branco ao passar o mouse */
}

#botao button:active, #botao1 button:active {
    transform: scale(0.95);
}

#aplicativo {
    display: flex; 
    justify-content: space-between; 
    align-items: flex-start; 
    margin: 20px; 
    margin-top:  10vw; 
}

#aplicativo img {
    width: 60vmin;
    height: 60vmin;
    margin-left: 60vw;
    position: absolute;
    margin-top: 10vw;
}

#aplicativo .titulos {
    flex: 2; 
    margin-left: 20px; 
}

.sessao{
    display: grid;
    grid-template-columns: auto;
    margin-bottom: 7vw;
    justify-content: space-between; 
    margin: 20px; 
    margin-top: 48vw;

}

#equipe{
    width: 100vw;
    justify-content: center; 
    align-items: center;
}

#membros{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 45px; 
    
}

.membro{
    background-color: rgb(0, 0, 0);
    width: auto;
    height: auto;
    text-align: center;
    border-radius: 0 2vmin;
    overflow-y: hidden;
    margin: 0 30px 0vh 30px;
}
.membro .infoMembro{
    display: block;
  
}
.membro .infoMembro img{
    width: 260px;
    height: 300px;
    
}
.membro h2{
    font-size: 1vh;
}

.func{
    width: 90px;
}


.membro .links{
    display: inline-flex;
    margin: 10px 0;
}
.membro .links img{
    width: 40px;
    height: 40px;
    margin: 0 0.25vmax;
}
.membro .links div{
    padding: 7px 0 2.5px 0;
    display: inline-flex;
    margin-right: 1.5vw;
}
.membro .links h4{
    font-size: 1vmax;
    width: 4.5vw;
    margin: auto;
}
.membro .func{
    position: absolute;
    font-size: 20px;
    width: 220px;
    transform: translate(-95px, -160px) rotate(-90deg);
    color: black;
}


#footer {
    display: flex; 
    justify-content: space-between; 
    align-items: flex-start; 
    row-gap: 100vw;
    margin-top: 55vw;
    justify-content: center;
    align-items: center;
    width: 100%; 
    padding: 20px; 
    background-color: #3a0000;
    text-align: center;
    overflow: hidden; 
    position: relative;
}

.rodape {
    display: flex; 
    justify-content: space-between; 
    align-items: flex-start; 
    padding-top: 4.5vw;
    width: 100%;
}

.localizacao {
    width: 40vw; 
}

.img_rodape {
    display: flex;
    justify-content: space-evenly;
}

.img_rodape img{
    width: 40px;
    height: 40px;
}

.txt_rodape {
    margin-bottom: 2vw;
    font-size: 30px;
    color: #FFFFFF;
}

.redesSociais {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin-right: 10vw;
}

#copyright {
    color: #FFFFFF;
    font-style: normal;
    margin-top: 2vw;
    font-size: 1rem;
    text-align: center;
    margin-top: 5vw; 
}

#mapa {
    width: 220vw; 
    height: 20vw; 
    border-radius: 10px;
    border: none;
    margin-top: 1vw; 
    margin-left: 1vw;
}

.programas{
    margin-right: 10vw;
    display: flex;
    flex-direction: row; 
    row-gap: 12px;
    align-items: center; 
    margin-left: 75vw;
}

#img_programa_unity{
    width: 70px;
    height: 70px;
    margin:0;
}

#img_programa{
    width: 90px;
    height: 90px;
    margin:0;
}